[2017-09-17 12:47] tonyarnold opened #2 "Potential optimisations & refinements"
@wokalski identified potential optimisations and refinements that could be made to this library - I'd be grateful for contributions if anyone feels like tackling any of these, but mainly I'm just making sure they're documented for future me:

- [ ] https://neil.fraser.name/writing/diff/ (from https://github.com/wokalski/Diff.swift/issues/5)
- [ ] The current implementation is the simplest version

[2017-09-20 19:32] Sully73 opened #3 "Generic parameter 'T' could not be inferred"
Is there a way to make the following situation work.

I have an enum as follows

[code]
The datasource for the collectionView is an Array of the PlaylistItem enum, when I attempt to animate changes I get  `Generic parameter 'T' could not be inferred`
[code]

Is there any way I can make this work?

[2017-09-20 20:01] Sully73 commented on #3
Sorry never mind, I had to make the enum conform to equatable

[2017-09-20 20:01] #3 closed

[2017-09-20 22:07] tonyarnold commented on #3
Glad you figured it out! Could the comments/documentation here have been clearer somehow? I'm keen to improve it if possible.

[2017-10-08 03:10] electic commented on #3
Hi,

I am having the same problem. I have an array of News objects:

`import Foundation

enum NewsType {
    case news
    case chat
    case unkonwn
}

class News : Equatable {
    var title : String = "--"
    var link : URL!
    var createdAt : Date?
    var type : NewsType = NewsType.unkonwn
    var author : String = ""
}

func ==(lhs: News, rhs: News) -> Bool {
    return lhs.link == rhs.link

[2017-10-08 05:49] tonyarnold commented on #3
Hi @electic, can you put this into an example project showing the problem? I'd be happy to have a look when you have.

[2017-10-13 07:17] nixzhu opened #6 "Missing pod(CocoaPods) of Differ 1.0.2?"

[2017-10-13 22:00] tonyarnold commented on #6
Sorry about that. I don't use CocoaPods, so it completely slipped my mind to push the spec to trunk.

It's available now.

[2017-10-13 22:00] #6 closed

[2017-10-13 23:55] nixzhu commented on #6
Thank you!

[2017-11-05 09:07] piv199 opened #8 "Sections diff improvements"
Hi, currently Differ support calculating extended diffs of two dimensional arrays.

But what can I do if I have an array of some objects where internal object has array and some additional data:

Section
    - header: String
    - items: [Item]

Would it be possible to add new KeyPath feature, for example:

sections.nestedDiff(to: newSections, item: \.items, ...)

[2017-11-08 02:45] tonyarnold commented on #8
This sounds like a great idea - I don't have time at present to do this, however you're more than welcome to have a go at implementing it, if you'd like to.

[2017-11-16 19:33] MikeSilvis opened #9 "Draft release"
Can we please submit a release for this since it's currently impossible to submit to Apple off of the last release!

Thanks

[2017-11-17 02:07] tonyarnold commented on #9
Done! [Differ 1.0.3](https://github.com/tonyarnold/Differ/releases/tag/1.0.3) is now available.

[2017-11-17 02:07] #9 closed

[2017-11-17 18:43] MikeSilvis commented on #9
Thanks!

[2017-11-24 09:11] sathoeni opened #10 "Move Elements from one Section to another"
Correct me if i'am wrong, but as I could figure out, the lib doesn't support movements of an element between sections. It only detects movements of sections or movements of elements in a section.

It would be pretty nice if this could be accomplished by a NestedExtendedDiff ;-)

[2018-01-04 11:54] onmyway133 opened #12 "Crash error: can't allocate region"
Hi @tonyarnold , I'm playing with different diffing algorithms, and want to give them a benchmarks https://github.com/onmyway133/DeepDiff#among-different-frameworks. When comparing `Differ` on some data sets, I get a crash

[code]

Here is how such a data set gets generated

[code]

![differ](https://user-images.githubusercontent.com/2284279/34562345-4373e26a-f14e-11e7-8d43-4e1962f640df.png)

[2018-01-04 17:57] wokalski commented on #12
Re benchmark: it looks flawed to me because you generate 1 array with 10000 identical elements and another one with 2 kinds of elements with 9900 and 500

There are over 13,000,000 elements in the traces array. Removing "bad" traces is a badly needed optimization here.

Btw it's interesting that the simple algorithm (that you wrote) performs the best. I don't have time to profile it but some profi

[2018-01-05 08:54] onmyway133 commented on #12
@wokalski Thanks for the reply. About DeepDiff, I just followed this note https://gist.github.com/ndarville/3166060. It is based on 2 assumptions about line occurrences, so I have a table of entries to keep track of if a line appears once in each collection.

[2018-01-11 06:53] vfn opened #13 "Move lib into an org"
@tonyarnold I just noticed that the `Diff` pod is now `Differ` and that has been "moved" to your account.

To avoid issues like that if you ever stop supporting it and needs to move it to someone else, I'd like to suggest the repo to be moved into an organization and that would allow an easier transition of maintainers.

If possible, it would be awesome to get @wokalski to do that on his side, wit

[2018-01-11 07:44] wokalski commented on #13
If you send me exact steps of what I should do, I'll do it.

[2018-01-11 08:50] vfn commented on #13
Hi @wokalski, that’s awesome. Let’s do it!

First create an org. No payment method required as there is no need for that. All the projects will be open source.

You can call the org `Diff` for example.
https://help.github.com/articles/creating-a-new-organization-from-scratch/

Then you transfer the repo to the org.
https://help.github.com/articles/transferring-a-repository-owned-by-your-personal-a

[2018-01-11 08:57] vfn commented on #13
For the Diff pod, you’ll need to go to the terminal and get into the folder of your local Diff repo, and you’ll add member to that pod.

`pod trunk add-owner Diff user-email-address`

https://guides.cocoapods.org/making/getting-setup-with-trunk.html

You can get Tony’s email on his profile page.

Feel free to add me to both, the org and the pod as I’m a user of both and I could keep an eye on upda

[2018-01-11 22:33] vfn commented on #13
@wokalski if you transfer the repo, Github will handle the redirection, for both web visits and also git interactions, if that's what you're worried about, and by being the org owner, you'll always have access to it. But that's up to you.

Regarding the pod, if you add an owner like I posted above, that owner can handle the pod/podspec changes, including pointing the pod to a new repo if needed.

[2018-01-12 05:54] wokalski commented on #13
Done, I added Tony as an owner.

[2018-01-12 08:58] vfn commented on #13
Cool! @tonyarnold let me know if you need help with anything

[2018-03-01 23:28] chrisco314 opened #17 "Is there a reason that `patch` is restricted to `Equatable` elements?"
This feels like a cut and paste issue, but `patch` seems unnecessarily constrained to `Equatable` when there is an equality closure on `diff`, and it compiles without the `Equatable` requirement, see the example below.

Am I missing something?

[code]

Thanks.

[2018-03-04 13:26] tonyarnold commented on #17
Honestly, I'm not really sure, I haven't looked at that too closely yet! I'll happily accept PRs if you think the restriction is unnecessary.

[2018-03-25 16:24] darrarski opened #18 "Extended diff produces unexpected results"
I am not sure if this is an issue, or I just don't understand how it works. I am really confused and looking for help, thanks in advance for your support.

I have an array of `Int`, from 1 to 4. I swap first and last elements:

[code]

I can do the same for array of `Int` with more elements:

[code]

However, for array with only three elements, the result is something that I don't understand:

[co

[2018-03-26 11:20] tonyarnold commented on #18
The final `M(1,1)` looks like a bug. I would have expected it to be `M(0,1)`, but I probably need to think about it a little.

[2018-03-28 10:03] wokalski commented on #18
Hey, I know it's confusing. It's because of the difference between diff vs patch. The trick is that diff is not ordered. `D(0)` means remove the element that's initially on index `0`. It doesn't say remove element that's currently on index `0`.

Similarly, `M(1,1)` means, move element from index `1` in the in the initial sequence to index `1` in the final sequence.

And here comes the feature I've

[2018-03-28 10:07] wokalski commented on #17
It's redundant I think.

[2018-03-28 10:37] darrarski commented on #18
Hey, @wokalski I am using `patch` frequently and I am really like it :-) I appreciate your work!

Thanks for explanation, but I still don't get it. I am aware of diffs not being ordered. But just take a look at `old` and `new` arrays and the extended diff that is produced:

[code]

- `M(0,2)` seems ok, as `1` was moved from index 0 (in `old`) to index 2 (in `new`)
- `M(1,1)` would mean that `2` wa

[2018-03-28 10:51] wokalski commented on #18
The diff, contains the minimal amount of steps and extendedDiff is just the derivative of it. Because of how the algorithm works the 3 remains where it was so it's not included in the diff at all. In this case you can think of three as a basis for the algorithm. If we ran it from the end, `1` would be the "basis" element.

I know it's all confusing so I insist - please ask further questions.

[2018-03-28 11:05] darrarski commented on #18
I see it now,

1. initial / old: `[1, 2, 3]`
2. `M(0,2)` - move element at initial index 0 (`1`) to index 2
3. `[2, 3, 1]`
4. `M(1,1)` - move element at initial index 1 (`2`) to index 1
5. result / new: `[3, 2, 1]`

the same swap in four-elements array:

1. initial / old: `[1, 2, 3, 4]`
2. `M(0,3)` - move element at initial index 0 (`1`) to index 3
3. `[2, 3, 4, 1]`
4. `M(3,0)` - move element at i

[2018-03-28 11:06] #18 closed

[2018-03-28 11:25] darrarski commented on #18
@wokalski recently I used it for updating `NSTableView` rows in macOS app. It was also useful for me when developing iOS apps.

[2018-03-30 01:51] neilsardesai opened #19 "Deprecated methods in Swift 4.1"
Hey @tonyarnold, just wanted to let you know that Xcode 9.3 (just released today) ships with Swift 4.1, and is warning of several deprecated methods used in Differ.

<img width="314" alt="screen shot 2018-03-29 at 8 47 05 pm" src="https://user-images.githubusercontent.com/4098825/38121078-acacf574-3392-11e8-9c15-ceb77b384a52.png">

[2018-03-30 02:49] tonyarnold commented on #19
Thanks, Neil. I’ll fix these tonight when the kids are in bed.

[2018-03-30 03:02] neilsardesai commented on #19
No rush. Thanks so much for working on this project; it’s pretty awesome!

[2018-04-03 12:01] tonyarnold commented on #19
Hi Neil, I've just published Differ 1.1.0, which is compatible with Swift 4.1/Xcode 9.3 and fixes these warnings. Thanks for being patient!

[2018-04-03 12:01] #19 closed

[2018-04-03 16:13] neilsardesai commented on #19
🙌

[2018-04-11 22:08] tonyarnold commented on #17
Fixed by #25 - thanks @garnett

[2018-04-11 22:08] #17 closed

[2018-04-12 05:49] wokalski commented on #8
My `Swift` foo is not good anymore, but I think this isn't a solution. IMO you should make such object conform to `Collection`.

[2018-04-14 17:13] rudedogg opened #26 "Trouble with NSCollectionView usage"
I'm having some trouble using Differ with an NSCollectionView, specifically the function `animateItemsAndSectionChanges(oldData: , newData:)`

 Here's a quick example of the code I'm using:

[code]

[code]

But the compiler complains `Generic parameter 'T' could not be inferred`.

**Edit:** This doesn't seem to be a bug, I think it was just a compiler/generics/protocols difficulty. I'll post more

[2018-04-15 12:03] tonyarnold commented on #26
If there's something I can add (including documentation) - please let me know. I'd love to know more about what you saw.

[2018-04-15 21:38] rudedogg commented on #26
Thanks @tonyarnold

I think the main issue I ran into was using Protocols as types in my datasource. That makes Equatable hard to implement, I had to use type erasure following https://khawerkhaliq.com/blog/swift-protocols-equatable-part-one/). I've since switched to passing a nested Array of `AnyEquatable{Protocol}` to the calls to `collectionView..animateItemAndSectionChanges(oldData: oldData, n

[2018-04-16 16:56] kirbyfan64 opened #28 "Build errors under Swift 4.1 on Linux"
**Swift version:** 4.1
**Differ version:** 1.2.0
**Expected result**: Compilation to work.
**Actual result**: Compilation does *not* work. :disappointed:

**Output**:

[code]

[2018-04-17 17:32] #26 closed

[2018-04-18 10:45] jcislinsky opened #29 "Move row in moving section failed in TableView"
Hi,
I just reached to problem with moving rows inside of section that is moved in the same update. Example app (`NestedTableViewController`) have this issue. I updated items in https://github.com/EtneteraMobile/Differ/tree/test-move to highlight invalid behaviour.

This is result of update, where section are switched and rows inside are switched too.
Expected result: Second – 2, 1; First – 2, 1
In

[2018-04-19 09:27] tonyarnold commented on #29
Thanks for the report, and for the reproduction!

[2018-04-19 22:49] tonyarnold commented on #28
You'll need to build with:

[code]

I'll update the readme.

[2018-04-20 00:17] tonyarnold commented on #28
This should be resolved in Differ 1.2.1 - please let me know if it is still an issue.

[2018-04-20 21:37] neilsardesai opened #30 "Crash when inserting items into empty collection view"
Hey @tonyarnold, the latest version of Differ is causing a crash when inserting items into an empty collection view. Specifically, the crash started with commit 9db06bbd85c91b26f1fb15d7f970670aa359f2c5 (Use array literals to provide IndexPaths for compatibility with Swift Package Manager).

This crash did not occur prior to this commit.

I’ve attached sample projects, one using Differ as of commit

[2018-04-20 23:16] #30 closed

[2018-04-20 23:17] tonyarnold commented on #30
It wasn’t the syntax, it was the ordering. Initialising `IndexPath` using an array expects you to specify the path from the root (section) down to the item - I had it inverted. Silly oversight, but if you want to check with 6038fe02e17945e4c54723bf2ced162c18c612b5 it should work now. Thanks for the report!

[2018-04-20 23:26] neilsardesai commented on #30
Oh lol, I guess this is why named parameters are awesome 🙈. Confirmed not to crash anymore. Thanks for the quick fix!

[2018-04-20 23:49] tonyarnold commented on #30
Named parameters _are_ great, however SwiftPM’s insistence on targeting a four year old macOS SDK release makes it tricky to use them.

[2018-04-21 00:39] tonyarnold commented on #29
Huh, yeah, this is a really odd one. How did you figure it was a `UITableView` bug?

[2018-04-29 13:03] Davtyanag opened #31 "Can't build via Carthage"
Xcode Version 9.3 (9E145)
Swift 4.1
Command which I use: carthage bootstrap --platform ios --no-use-binaries
As far as I know this issue is connected with New Xcode Build system.

[2018-04-30 18:16] Chandlerdea opened #32 "Items that do not move show as being moved"
I am seeing some weird behavior when diffing arrays which have contents that do not move. Here is the scenario:

I have two arrays, which look like this:

[code]

One of the patches returned the `extendedPatch()` function looks like this:

[code]
This is causing a crash in my app, because there is no item at index 20 in the array.

[2018-05-01 04:04] tonyarnold commented on #32
Would you mind showing me the code you're using to diff the arrays? A reproduction in a Playground would be a huge help if you have time.

[2018-05-27 21:50] georgenavarro commented on #32
Hi,

I am seeing the same issue. I can reproduce simply by using this code:

`
var existingIds = [63, 5,   112, 48,  100006, 121, 33, 65, 100003, 57,     100007, 117, 108, 1,  118, 100688, 18, 54, 116,    110]
let incomingIds = [65, 118, 110, 117, 100006, 112, 1,  54, 116,    100688, 48,     57,  108, 63, 121, 33,     18, 5,  100003, 100007]
let idPatches = extendedPatch(from: existingIds, to: inc

[2018-05-30 05:28] tonyarnold commented on #32
Thanks for the example, @georgenavarro - I appreciate it. I'm pretty busy at the moment, so I'm not sure when I'll have a chance to look at fixing this issue. If either of you gets a chance in the meantime, a PR with tests showing and/or fixing the problem are always welcome.

[2018-05-30 16:58] jessegrosjean commented on #31
I see the same problem on Xcode Version 9.4 (9F1027a) this error:

[code]

The Carthage checkout seems to build OK, when I open the checked out Differ project directly in Xcode and build.

[2018-05-30 22:48] tonyarnold commented on #31
Hi folks, sorry about this. I've just done a clean test with Xcode 9.4 (9F1027a) and it worked fine using the following command:

[code]

@Davtyanag can you provide the actual error/log output you're seeing?

@jessegrosjean what command are you using?

[2018-05-31 00:49] jessegrosjean commented on #31
I was using the command `carthage update`, but I get this same/similar error when using `carthage bootstrap --no-use-binaries`:

[code]

I'm not sure what might be different. I'm building other Carthage dependencies successfully.

Here's a test project that used to create the above error:

[JesseTest.zip](https://github.com/tonyarnold/Differ/files/2056171/JesseTest.zip)

[2018-05-31 00:55] tonyarnold commented on #31
Him, that worked fine for me.

What version of Carthage are you using? I'm on 0.29.0. You can get at it with `carthage version`.

[2018-05-31 01:10] jessegrosjean commented on #31
Sorry... that was the issue. I was on 0.17.2. I should have checked. Carthage has always just seemed to work, forgot all about updating. Anyway, thanks very much for your help.

[2018-05-31 01:11] tonyarnold commented on #31
No problems, glad we got to the bottom of the troubles! Thanks for being patient 😁

[2018-06-20 13:01] pablonosh opened #37 "Can't compile Differ with Carthage to generate a StaticFramework."
Following the steps identified here:
https://github.com/Carthage/Carthage/blob/master/Documentation/StaticFrameworks.md

I can't compile Differ to generate a StaticFramework.

`*** Building scheme "Differ" in Differ.xcodeproj
Build Failed
	Task failed with exit code 65:
	/usr/bin/xcrun xcodebuild -project /Users/peter/Carthage/Checkouts/Differ/Differ.xcodeproj -scheme Differ -configuration Release

[2018-06-20 23:54] tonyarnold commented on #37
Hi, can I get a copy of the build script you used?

[2018-06-20 23:57] #31 closed

[2018-06-22 09:28] pablonosh commented on #37
it looks confusing but it's recommended by carthage on
https://github.com/Carthage/Carthage/blob/master/Documentation/StaticFrameworks.md

then running:

./carthage-build-static.sh Differ

[2018-06-27 07:36] pablonosh commented on #37
Hi

I have a fix for this, I just rebuilt the xcode project again, it was quite an old project file and I guess didn't support the latest build settings etc.

I have a branch I'd like to push for a review - can I get permission to push a branch? Alternatively I could send the new project file to you in some way.

Ta

Peter

[2018-06-30 13:33] ronsrebro opened #39 "Cocoapods version doesn't support Swift 4.2"
I'm new to all of this, so this might be silly and stupid.

I'm installing differ from Cocoapods and can't get it to install a version that supports Swift 4.2

The current version on Cocoapods is 1.2.3.

Looking at the code in the repo there was obviously work done to update the codebase to 4.2

Any plans on updating Cocoapods version, or I do I work around it?

[2018-07-08 10:21] iDonJose commented on #39
Hi @ronsrebro,

If you want to work with Swift 4.2, you can either :

- Fork this repo and update Differ with Swift 4.2 (this require a little work)

- Or simply keep using Differ with 4.1, by  adding at the end of your pod file :
[code]

[2018-08-03 15:04] fabiosoft opened #40 "Can't compile in objective-c project"
How can I use it in objective-c project?

I tried `@import Differ;` but can't use functions like animateItemChanges... probably it's not open to objc.

[2018-08-06 01:04] tonyarnold commented on #40
Sorry @fabiosoft, this is a Swift-only library. I'm not sure if it could be retrofitted to work with Objective-C - I'm open to pull requests :grin:

[2018-08-06 01:04] #40 closed

[2018-08-17 20:14] rayfix commented on #12
@onmyway133 I know this report is a little long in the tooth, but I tried to repo it and could not with the following code:

[code]

Any ideas? Do you think if I run it enough times I will hit it?

[2018-08-20 07:55] onmyway133 commented on #12
@rayfix Hi, I'm have no ideas since it's long time ago 😅 , but those are the code I run when I did the benchmarking. And did you run tests on a device?

[2018-09-11 14:57] julien1619 opened #44 "Stack Overflow with an array of 2000 rows"
I have an array with an item count of 4 in which we add 2000 items. When I call `Differ` to generate a patch based on an `extendedDiff`, it crashes in `shiftPatchElement` of `GenericPatch.swift` when generating the patch. This method make recursive calls to itself which is raising a stack overflow after 1753 calls.

I read the code but I cannot see how to fix it without rewriting a lot of things i

[2018-09-13 22:12] tonyarnold commented on #44
Hi @julien1619 - thanks for reporting this. Is there any chance I could get you to put together a quick test case/app demonstrating the overflow?

[2018-09-13 22:13] tonyarnold commented on #39
@iDonJose's instructions are spot-on. From what I can see, this is a CocoaPods issue.

[2018-09-13 22:13] #39 closed

[2018-09-19 19:11] chrisco314 opened #45 "Diff.patch function has unused and redundant `from` argument"
In Patch.swift, the patch function has a `from` argument which is unused and not needed since we already have a diff.  Its presence almost suggests a recalculation, which is what prompted me to look.

(And FWIW: collecetion -> collection)

The following:

    public extension Diff {

        /// Generates a patch sequence based on a diff. It is a list of steps to be applied to obtain the `to` coll

[2018-09-24 14:19] btelintelo opened #46 "Cocoapods release for swift 4.2?"

[2018-09-25 08:54] frankois944 commented on #46
The current version is not working on Swift 4.2

[2018-09-25 08:55] frankois944 commented on #46
Hello,
the current version on Pod is not compatible with swift 4.2

[2018-09-25 09:06] frankois944 commented on #46
For waiting the new pod, we can use :

pod 'Differ', git: 'https://github.com/tonyarnold/Differ.git', commit: '6dbd920ade1586460ec492b2baebb4fea92db3c4'

The fix is already done but not published

[2018-09-26 07:15] tonyarnold commented on #46
I've just pushed Differ 1.3.0 to CocoaPods, and tagged a release for Carthage. Thanks for the nudge to do this, folks - I'm sorry it took a week longer than it should have.

[2018-09-26 07:15] #46 closed

[2018-09-26 11:15] tonyarnold commented on #37
Please see my comments on #38 about this: https://github.com/tonyarnold/Differ/pull/38#issuecomment-424677685

[2018-09-26 11:15] #37 closed

[2018-10-04 13:54] dineshba commented on #10
If we are moving elements from `one section to another`, how the **animation** could be ?

[2018-10-04 15:43] julien1619 commented on #44
Hi @tonyarnold and @dineshba ! Sorry for the delay but I was a little bit in a rush.

Your snippet seems similar to what I have, however, my data were an array of structs. I will try to give you a test case that will demonstrate the overflow. I quickly tried it but didn't succeed to reproduce it outside of my use case, so I'll keep trying.

[2018-10-04 15:50] dineshba commented on #44
Thanks for your response @julien1619. I tried with simple `struct` but couldn't able to reproduce.

If you reproduce, please post here. We can try to fix it.

[2018-10-20 10:08] #45 closed

[2018-10-31 15:08] bryan1anderson commented on #8
Your Section object just needs to conform to Collection and you'll be good to go

[2019-01-24 14:45] OrAzr commented on #8
@bryan1anderson with 2 section where the Iterator Element are the same there is no problem, how can you add 2 sections into an array with different Element?

[2019-01-27 14:48] kandelvijaya opened #51 "Comparision with Hackel Diff algo"
Thanks for contributing to the swift community.

As an author of my own implementation of Diff based on Heckel's algorithm I wanted to know if you did try the comparision with implementation based on Heckel's algo?

Im working on this www.github.com/kandelvijaya/fastdiff while there are few others around. The next immediate one is `Differ` (should be).

[2019-01-27 23:10] tonyarnold commented on #51
You'd really have to ask @wokalski - he put together the original implementation, and I wouldn't want to speak on his behalf.

[2019-01-28 10:15] wokalski commented on #51
@kandelvijaya the different diff algorithms have different outputs and it'd be nice to make a comparison so that people can use one or another. It'd be even nicer to make all of them conform to the same protocol so that you (as a user) could just switch the underlying implementation with a few lines.

[2019-01-31 18:29] lstomberg opened #52 "Comparison with Swift's CollectionDifference (SE-0240)"
How does this compare with the Swift development proposal that plans to add Ordered Collection Diffing?  Are you involved with that project in any way?

[https://github.com/apple/swift-evolution/blob/master/proposals/0240-ordered-collection-diffing.md](https://github.com/apple/swift-evolution/blob/master/proposals/0240-ordered-collection-diffing.md)

[2019-02-03 18:15] wokalski commented on #51
yes, @kandelvijaya. I'm not using swift anymore but capturing 90% of cases first always makes sense.

[2019-05-03 15:49] RomainQuidet opened #54 "Help / Documentation needed"
Hi,
Thanks for this wonderful project.
I'm working with a UICollectionView with sections and items. I use differ API ```animateItemAndSectionChanges``` to animate my sections / items changes according to my data source.
Question 1: I can't find anyway to change the animation order (insert items first, delete after etc.). I saw Patch and Diff object, but no API to use them (except the ```apply``` b

[2019-05-13 23:52] numist commented on #52
The `associatedWith:` portion of the `CollectionDifference.Change` type exists to support the encoding of move operations and is set by `inferringMoves()` :)

[2019-05-13 23:53] tonyarnold commented on #52
That's super exciting, and I'm looking forward to using it in production - thanks for your work on the proposal and implementation, Scott!

[2019-05-14 00:01] numist commented on #52
It has been my pleasure; thanks to you for being the tip of the spear!

[2019-05-25 17:46] sameers27 opened #58 "Cocoapods release for 1.4.3"
1.4.1 is the currently available pod version.

Can we push the latest to Cocoapods?

[2019-05-26 03:22] tonyarnold commented on #58
Done: https://cocoapods.org/pods/Differ - thanks for reporting the issue. I really need to integrate this into my release automation.

[2019-05-26 03:22] #58 closed

[2019-08-21 08:27] psi-gh opened #61 "Compilation error of TableViewExample"
TableViewExample.project -> Graph.playground -> Sources -> CharacterLabels.swift -> line 17

[2019-09-10 23:58] #61 closed

[2019-10-29 10:07] florianldt opened #62 "`NSInternalInconsistencyException` using MVVM approach"
Hi and thank you for this library. I am new to diffing.
I tested the example project and I am now trying to use Diffing with MMVM.

Here is the simple MVVM code I am using to try it:

[code]

Here for the `Controller` part:

[code]

Here is what I got:
[code]

I first posted the question on [stack overflow](https://stackoverflow.com/questions/58587566/rxswift-differ-library-crash-nsinternalinconsi

[2019-10-29 14:11] florianldt commented on #62
Some improvement here.

After new tests, I saw that the crash occurred only when the previous value is empty.

Everything is working fine with with changing the code like this:

[code]

Same success when putting back RxSwift instead of the delegate.

Even if it is working as expected now. I am still questioning why the diffing isn't working when the array is empty. Having an previous value empty a

[2019-11-22 16:10] ZQutui opened #63 "Does it work asynchronously?"
I tried to use code like
DispatchQueue.global().async {
    ....patch(from:to:)...
}
and it always throws a "EXC_BAD_ACCESS" error with long texts(4000 elements each). What can I do about it?

[2019-11-22 19:10] tkrajacic commented on #63
My guess is that you are trying to update a table view or collection view in there? You must only do this on the main queue. This would have nothing to do with Differ itself.

Try enabling the thread sanitizer in Xcode when running your app, it might tell you more.

[2019-11-22 20:49] ZQutui commented on #63
Nope, it doesn't use any UI elements in there. it's literally just
[code]
revisedText and originalText are arrays containing Substrings

[2019-11-23 01:37] tonyarnold commented on #63
Is there any chance you can provide a sample project demonstrating the issue? I’m happy to take a look if you can.

[2019-11-23 13:43] ZQutui commented on #63
I created a project here https://github.com/ZQutui/IssueWithDiffer. I found out that this issue occurs only when you specify sort property while using patch function, without sort property it works perfectly fine

[2019-11-24 03:15] tonyarnold commented on #63
Thanks @ZQutui - the problem reproduced locally using the project you provided. I'll have a look at what's happening as soon as I have some free time to sink into this.

[2019-11-25 12:35] ZQutui commented on #63
What library or temporary workaround do you know? I need this sorting. Sorting just a diffed array  doesn't help. Other libraries doesn't provide this capability or I couldn't find it.

[2019-11-26 08:50] georgbachmann opened #64 "Crash and inconsistent results when doing slight modifications to Example Code"
I am interested to find a good solution for multi-section diffing. So I came across Differ and though I am missing the functionality for detecting an update to an existing object I gave it a try.

A dataset like this creates a crash:
[code]

A dataset like this create inconsistant data when shuffling. Sometimes the order is correct, but sometimes it is't (see screenshot):
[code]

<img width="438"

[2019-12-27 11:29] jenox opened #65 "Completion handlers for UITableView-based animations"
I recently found myself in need of a completion handlers when using Differ to run an animation on `UITableView`. Differ is still using the `beginUpdates()`/`endUpdates()` APIs for `UITableView` which do not support completion handlers. However, since iOS 11, `UITableView` too supports `performBatchUpdates(_:completion:)`.

I would love to see an overloaded `animateRowChanges` and `animateRowAndSec

[2019-12-29 04:16] tonyarnold commented on #65
Hi @jenox I accepted #60 recently, which walked this API back out. You can read through the discussion there. To be up front with you, I do very little real-world iOS development these days (my primary development work is on https://revealapp.com/), so I need developers like yourself to point out what's going to be useful (and submit PRs, if you have the time).

What you've proposed sounds reasona

[2019-12-29 04:17] tonyarnold commented on #65
Actually, wait, #60 has nothing to do with this. Ugh… holiday head.

[2019-12-29 14:32] jenox commented on #63
Looks like the problem here is a stack overflow in large data sets due to recursive implementations of various methods operating on linked lists, namely

[code]
and
[code]

I'm not familiar with the internals of the library yet, so I can't tell you why this is happening only if you specify a custom sort descriptor.

As for why this only happens on background threads: I have no clue. Both the main

[2019-12-29 15:19] jenox commented on #65
Sounds like you're open to the suggestion though — I'll try implementing this and will submit a pull request in the near future.

[2019-12-29 15:33] jenox commented on #44
@julien1619 this issue might be fixed in #66. Could you please verify that this is indeed the case?

[2019-12-29 19:39] jenox commented on #29
Hi @jcislinsky, I'm currently trying to find a solution to this problem since even `UITableViewDiffableDataSource` on iOS 13 behaves incorrectly.

You mentioned applying the updates through two update blocks. While this works for this simple case, I don't believe we can make it work for every possible scenario because the intermediate state needs to be valid for `UITableView` — at least concerning

[2020-01-05 03:00] #44 closed

[2020-01-05 03:00] #63 closed

[2020-05-31 13:31] jenox commented on #62
Hi @florianldt, it is difficult to tell what exactly is going on with just the code you posted here. Could you maybe provide a self-contained sample app showcasing the issue?

By the looks of the error message you are getting, I have faced a similar issue in the past.
I believe this can happen if you don't use the API correctly and you schedule a transition before the `UITableView` had a chance to

[2020-05-31 13:44] jenox commented on #54
Hi @RomainQuidet!

To answer your first question, I don't think what you are trying to achieve is possible out of the box. When you call `animateItemAndSectionChanges(oldData:newData:)`, you essentially transition between two states `oldData` and `newData`. Differ figures out at which index paths cells need to be inserted, deleted, or moved, and UIKit animates those accordingly. In terms of your d

[2020-06-14 13:03] jenox opened #71 "Revision of UIKit Overlay's API"
I would like to revise Differ's public API in terms of its UIKit overlay. The changes I would like to make are the following:

#### 1. Optional completion handlers for methods on `UITableView`

The `UICollectionView` already has this parameter and it seems reasonable to support this on `UITableView` as well. The intuitive approach to implement this would be using `performBatchUpdates(_:completion:

[2020-06-15 03:49] tonyarnold commented on #71
As I mentioned privately, my use of these APIs is pretty limited, so I'm happy for someone else to take the lead on improving them. I have no issues with raising the OS/SDK requirements and bumping the major version number to reflect that change 👍

Thanks for taking the time to write this up in detail @jenox!

[2020-07-22 20:21] deborahgoldsmith opened #72 "Differ does not build universal for Apple Silicon Macs"
Due to the explicit architectures listed in Universal-Target-Base.xcconfig, Differ will not build universal for Apple Silicon Macs.

[2020-07-22 20:21] deborahgoldsmith commented on #72
I will be submitting a PR.

[2020-07-22 23:25] #72 closed

[2020-07-22 23:26] tonyarnold commented on #72
This is the kind of issue I love to wake up to! Thanks for the PR, @deborahgoldsmith! I'll take care of fixing up the Bitrise CI workflow now.

[2020-07-28 09:24] jnutting opened #74 "Can't build in Xcode 12 with Differ as an spm sub-dependency"
I have a project using Bond and and Differ, both imported with Xcode's spm integration. When I open this project in Xcode 12, Xcode fails to build, with the following error:

[code]

This problem seems to occur because Differ doesn't declare a minimum platform version, which makes Xcode interpret its minimum platform as 9.0 (the new default for Xcode 12), which clashes with what Bond declares in i

[2020-07-28 11:42] tonyarnold commented on #71
@jenox if you still have interest in making these changes, #75 is going to require a bump to the major version of the library, so I'd be happy to roll in your proposal.

[2021-01-27 12:30] priore opened #76 "Throw exception, invalid number of rows"
![Schermata 2021-01-27 alle 13 29 25](https://user-images.githubusercontent.com/1537350/105991259-dab28380-60a3-11eb-8c83-30cbca56665d.jpg)

[2021-02-05 19:32] algrid commented on #76
I have a similar crash report for my table view update:

Can't reproduce it though.

[2021-02-05 23:10] priore commented on #76
it's our mistake because we are try using "animateRowChanges" with a multi-sections dataset but we should use animateRowAndSectionChanges which is right for a multi-section dataset.

[2021-02-05 23:10] #76 closed

[2021-04-21 04:17] tysonkerridge opened #77 "High Memory Usage diffing two arrays of quite differently ordered results"
Hello, I've come across a particular case where I'm seeing a really high memory usage and wanted to make sure I wasn't doing something wrong or diffing in some unintended way.

I was diffing two seemingly small arrays of items which happened to be the same (or very similar, give or take a few items) but in two different orders. Though my data was from a different source, I've reproduced the issue

[2021-08-10 12:49] justdan0227 opened #78 "Module compiled with Swift 5.3.1 cannot be imported by the Swift 5.5 compiler:"
Is there an update to 5.5?

[2021-08-10 13:11] tonyarnold commented on #78
Is something not working for you? There's nothing in the project that doesn't build under Swift 5.5.

[2021-08-10 15:01] justdan0227 commented on #78
Thanks... so when I try to compile / carthage

*** Downloading Differ binary at "Differ 1.4.5"
***  Skipped installing Differ binary due to the error:
	"Incompatible Swift version - framework was built with 5.2 (swiftlang-1103.0.32.1 clang-1103.0.32.29) and the local version is 5.5 (swiftlang-1300.0.27.6 clang-1300.0.27.2)."

[2021-08-11 12:06] tonyarnold commented on #78
I've put in a request for macOS 11 access for this project, so that I can actually specify Swift 5.4.

Once that's done, I'll look at a prerelease using Swift 5.5 and Xcode 13.0-beta.

In the meantime, you could consider switch Carthage to build the project from source, rather than failing if the binary is missing.

[2021-08-27 07:32] gerchicov-bp opened #80 "Broken sources or obsolete readme?"
From your readme:
[code]

It doesn't work because diff is `Diff` but apply method requires `ExtendedDiff` and these 2 classes are incompatible

[2021-08-27 07:52] gerchicov-bp opened #81 "animateRowAndSectionChanges works for particular types of nested collections only"
I have the following code:
[code]
`groups` is a nested collection too but your code doesn't work with it.

[2021-09-12 02:44] tonyarnold commented on #80
You're correct - the sample in the readme is incorrect. The tableview `apply(…)` methods on both platforms require an `ExtendedDiff`, so it should be:

[code]

I'll update it as part of the version bump I'm looking at - thanks for reporting this.

[2022-01-19 22:18] justdan0227 commented on #78
so is there an update on this.. I'm still getting the following when trying to use XCode13

	"Incompatible Swift version - framework was built with 5.2 (swiftlang-1103.0.32.1 clang-1103.0.32.29) and the local version is 5.5.2 (swiftlang-1300.0.47.5 clang-1300.0.29.30)."

[2022-01-23 17:01] devahmedshendy opened #83 "What classes/files to read to learn from the solution and apply it on my own"
Hi,
I have a use case for favorites table in tab controller, it needs to be updated with whatever products added/removed from other tabs while user experiencing the products there.

I cannot upgrade Xcode for now, I thought to ask, what classes/files to read as a beginner to learn how to approach a solution for this use case.

I am asking because I am kinda overwhelmed.

Sorry if not the appropria

[2022-01-24 08:46] tonyarnold commented on #83
Hi - I'm not sure how this is relevant to the library housed in this repository?

[2022-01-24 09:13] devahmedshendy commented on #83
The favorites controller would receive some added/removed products overtime from state manager, and when user open the favorites screen I would need to do batch update the table in this controller, while researching I found this library which helps updating tables efficiently (it is hard for my current experience to write code for it).
I am not sure how to implement the solution, but gradually I w

[2022-01-24 09:15] tonyarnold commented on #83
I think you should find a more general purpose forum for discussing your implementation approach, as this issue tracker is really just for bugs and feature requests for the Differ library.

[2022-01-24 09:23] devahmedshendy commented on #83
Yeah, it was not discussion more than just asking a guidance on how to read this repo to learn from it to help my research and I don't know how to communicate with the author of this library (there is no discussions tab like I found on other repos).
It's Okay, I get it.

[2022-01-24 21:09] #80 closed

[2022-01-24 21:11] tonyarnold commented on #81
Sorry for the delay in responding - could you share some more context here, please? I'm not clear on what's not working as expected in your example.

[2022-01-24 21:14] tonyarnold commented on #8
I'd need to check the code, but my understanding is that how this works would be dependent on the implementation of the `Equatable` conformance for your `Section` type. The following two things would need to be considered equal:

[code]

[code]

I think there is potential to use `Identifiable` here to alleviate some of these unnecessary changes.

[2022-01-24 21:43] tonyarnold commented on #83
Sorry Ahmed - I'd like to help you out, but I don't have the time to do that at the moment (as you can see by the long times between responses on issues here in this repository).

You will get a much better result by asking the same questions on the [Apple Developer Forums](https://developer.apple.com/forums/), [Stack Overflow](https://stackoverflow.com) or any of the iOS-focused forums available.

[2022-01-24 21:43] #83 closed

[2022-01-24 21:52] tonyarnold commented on #78
Still working on it, sorry - I'd like to switch over to XCFrameworks for the next release, so I've been working on making that automatically happen when I release a new version.

It's taking a bit longer because I'm short on time (school holidays in a pandemic :sweat_smile:

[2022-01-24 21:54] tonyarnold commented on #74
This has been done as part of 976e98e28a5febad583cae4d2eefb3d86df5df0d, and these changes will be included in Differ 1.4.6 when it is released. Thanks for reporting the problem, @jnutting!

[2022-01-24 21:54] #74 closed

[2022-02-11 02:53] #78 closed

[2022-03-12 15:00] Donny1995 opened #85 "Reordering section and rows ends up in a total mess"
I have performed the following:

data before:
[
    TestData(id: "SECTION_0", rows: [
        "S0_R0",
        "S0_R1",
        "S0_R2",
        "S0_R3",
        "S0_R4",
        "S0_R5"
    ]),
    TestData(id: "SECTION_1", rows: [
        "S1_R0",
        "S1_R1"
    ]),
]

data after:
[
    TestData(id: "SECTION_1", rows: [
        "S1_R0",
        "S1_R1"
    ]),
    TestData(id: "SECTION_0",

[2022-03-13 03:28] tonyarnold commented on #85
How are you providing equality for these types? Based on the `id` property?

[2022-03-20 06:51] Donny1995 commented on #85
Yeah, by 'id'
My active hypothesis for this is: "There can be only one change per item", it is true for rows, and for sections
So, if someone moves a section, maybe the number of items in it must stay the same?

But in my implementation of table animator i disabled the actual moving of sections, because it messed things up the same way: (rows appeared where they did not belong, and after some iter

[2022-05-31 20:05] martindufort opened #86 "Differ does not perform row reloading if the changes is happening on same row. (macOS)"
Hey there,

I've started implementing Differ in our app to drive changes to our TableView.
As our app needs to support 10.15+, we cannot use the native DiffableSource implementation.

So using extendingDiff and patch, I realized that the current AppKit extension that applies the patch to the `NSTableView` is not using the `reloadData(forRowIndexes: IndexSet, columnIndexes: IndexSet)` when changes

[2022-05-31 22:15] tonyarnold commented on #86
Hi Martin :wave: We should really coalesce that delete then insert of the same row into a reload. There's no workaround, but I'd warmly accept a PR 😄

I've not had much time to work on this library lately, so I won't make promises about when I might get to fixing this.

[2022-06-01 13:20] martindufort commented on #86
Hey Tony,

I was able to quickly patch the `Diff+AppKit.swift` file to look for our use case and issue a `reload`.

However that patch is far away from being usable in the real world. I would need to further understand the internal mechanics of a `Patch` structure to provide a usable PR for you to review.

It's on my task list however, and like you 😃, it will take sometime to surface.
Let's keep t

[2022-06-01 22:35] tonyarnold commented on #86
Of course! I'd be happy for any contribution/help, whenever it can be given. Thanks for thinking about the problem.

[2022-06-02 11:54] martindufort commented on #86
FYI, I just read this [very detailed explanation](https://github.com/ra1028/DifferenceKit/pull/144) of why some arrangements of `move / insert` are broken on NSTableView (macOS) in the DifferenceKit project.

Would be interesting to evaluate and potentially integrate in the `Diff+AppKit.swift` file for Differ because I'm sure that logic is not being taken into account.

LMK - Cheers - Martin